@{
    ViewBag.Title = "Our History";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        Revolver Brewing is located thirty-five minutes southwest of Fort Worth in historic Granbury, TX. We are a Texas family owned business founded by father and son, Ron and Rhett Keisler, along with seasoned Master Brewer and Cicerone, Grant Wood. We don't take ourselves too seriously, but we take extreme pride in our craft. We believe we can brew world-class beer in the Texas countryside. We start with fresh water from our own Trinity Aquifer well and brew our beer incorporating seasonal local ingredients. We brew on custom made equipment built for us in the U.S. by proud craftsmen. We oversee our beer to the tap to ensure you are drinking the same beer we are. We believe that our knowledge of brewing, hard work and attention to each detail is evident in every beer we craft.
    </p>
    <aside>
        <a href="/TourInfo">Tour Info</a>
    </aside>
</article>

