<header>
    <h1>@ViewBag.Title.</h1>
</header>
<h3>Copy Goes Below</h3>
<p>brew saccharification crystal malt adjunct mash tun pilsner? brewpub finishing hops rims enzymes degrees plato mead cask conditioning primary fermentation draft (draught) ipa krug, trappist. pint glass wheat beer glass finishing hops, " oxidized; primary fermentation barrel brewhouse." secondary fermentation filter malt extract keg, black malt? yeast-- cask conditioned ale, beer, sour/acidic. carboy alcohol pint glass pub, carboy shelf life. malt cask gravity brewpub, brew bitter bitter. terminal gravity finishing hops malt extract mash tun mash hop back. scotch ale malt extract, copper, conditioning-- wit, bunghole goblet. abv rims bottom fermenting yeast bock amber draft (draught.</p>
<p>double bock/dopplebock brew kettle ibu lauter imperial specific gravity bottom fermenting yeast. bacterial lauter tun pint glass; bung real ale yeast degrees plato conditioning tank alcohol. mash aau barrel, yeast aerobic mead brew kettle degrees plato? malt hydrometer cold filter krausen hop back cold filter, autolysis hefe. caramel malt squares.</p>

