@{
    ViewBag.Title = "Tour Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h2>The Revolver Brewing Tour</h2>
    <h3>What You Need To Know...</h3>
    <p>Revolver Brewing is a manufacturing brewery during the week, but we throw the doors open every Saturday for you to tour the brewery and taste the beers we work hard to make for you.  The event runs from 12pm noon to 3pm.  We try to provide an atmosphere that we would enjoy ourselves.  We figure great beer, fresh country air, picnic tables, a band, barbecue or fajitas, corn bag toss and an informative tour are a good start.  We have over six acres for you to spread out and enjoy your time here.  If you are like most smart people and you decide to come see us, here is what you should expect:</p>
</header>
<article>
    <header>
        <h4>Planning:</h4>
    </header>
    <p>Before you head this way make sure you have you ID! You must be 21 to participate in the beer tastings.</p>
    <p>We do have picnic tables and chairs but you may want to bring your own chairs or blankets (or sofas or Barcaloungers, which sadly we cannot adopt).</p>
    <p>The event starts at noon, so be sure to get here in plenty of time to make the most of the event!</p>
</article>

<article>
    <header>
        <h4>Arrival:</h4>
    </header>
    <p>When you arrive at the property you will see signs directing you to the parking area. We do have a separate handicap drop-off and parking area. Once parked, make your way to the big sign that says "Start Here". All ages are welcome and encouraged – event admission is $10 per person for anyone 18 or older. The beer tastings are free but you must be 21 to participate in beer tasting. Upon entry, we will put a wristband on you and give you a cool hand stamp. Your wristband will be proof of your age verification and admission. Please keep it on - It is valid as long as it stays on your wrist. We will also give you a brand new 16oz glass with the Revolver Brewing logo. Once you have your wristband, stamp, and glass you are, as they say, ready to roll. Feel free to step into the brewery and grab your first tasting.</p>
</article>

<article>
    <header>
        <h4>Tasting:</h4>
    </header>
    <p>We want everyone to have a great time and get home safely so we follow these guidelines:</p>
    <p>The event starts at 12:00pm (Noon). Taps open!</p>
    <p>If you arrive before 2:00pm, you will be given a wristband that entitles you to four tastings. Each tasting is a half pour (8oz) in your brand new glass.</p>
    <p>If you arrive after 2:00pm, you will be given a wristband that entitles you to two tastings.</p>
    
    <h4>Note - If you would like a full 16oz pour, we are happy to do it. Naturally it counts as two tastings.</h4>
    <p>At 1:30pm one of our talented brewers will grab the mic and take you on an informative tour of the brewery and how beer is made. Feel free to ask any questions! Warning – the brewers have been known to talk your ear off.</p>
    <p>At 2:45pm we yell last call. This is your cue to get your last tasting, however, we will only pour a maximum of one full 16oz glass after last call (assuming you have unused tastings left)</p>
    <p>At 3:00pm we close the taps!</p>
</article>

<article>
    <header>
        <h4>Other Stuff:</h4>
    </header>
    <p>We typically have four beers on tap. You never know what may show up on the tap wall. We love to brew beer, so many of those small-batch creations end up on tap at the brewery.</p>
    <p>We do have a gift shop which carries killer Revolver Brewing gear – cash or credit cards accepted. Just remember… if your friends cry out of jealousy because of your new gear, it is not our fault.</p>
    <p>We also have some wonderful food vendors on the property. They usually have fresh smoked barbeque, grilled beef and chicken fajitas, hot dogs, chips, colas, etc. Most meals are $5.</p>
    <p>We have rest rooms on the property. You can smoke outside the brewery. We can no longer have pets on the property due to insurance reasons. The property is not air conditioned so dress for comfort. Leave your banana hammocks at home, Euroboys. Also leave any guns, grenades or outside alcohol at home too.</p>
</article>

<h4>Enjoy your time here. Thank you for allowing us to do what we love.</h4>
